version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development

  report_generator:
    build: .
    volumes:
      - .:/app
    command: python Reportes/generador_reporte_lbs.py
